/*========== Our History CSS ==========*/

.our-history{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.history-container{

    display: flex;
    align-items: center;
    margin-top: 4rem;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;

}

.history-item{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    width: 100%;
    gap: 4rem;
}

.history--rightside,
.history--leftside,
.history--rightside2,
.history--leftside2 {

    width: 50%;
}

.history-item h3{

    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.history-item p{

    font-weight: 300;
    line-height: 1.7rem;
}

.history--img{

    overflow: hidden;
    box-shadow: 10px 10px 39px -10px rgba(0,0,0,1);
    border-radius: 10px;
}

.history-item img{

    width: 100%;
    height: 100%;
    transform: scale(1.02);
    transition: all .6s ease;
}

.history-item img:hover{

    transform: scale(1.2);
}

/* =========Media========== */

@media (max-width: 768px){

    .our-history{

        margin-top: 10px;
    }

    .menu-text{
        margin-top: 2rem;
        font-size: 25px;
        
    }
}

@media (max-width: 480px){

    .menu-text{

        margin-top: 2rem;
        font-size: 25px;

    }
    
    .history--rightside,
    .history--leftside,
    .history--rightside2,
    .history--leftside2 {

        width: 100%;
    }

    .history-item{

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 6rem;
        width: 100%;
        gap: 4rem;
    }

    .leftjs{

        display: flex;
        flex-direction: column-reverse;
    }

    .history-item h3{

        font-size: 40px;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    
    .history-item p{
    
        font-weight: 300;
        line-height: 2rem;
        font-size: 20px;
    }
}